.calendar {
    height: 500px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.calendar-main {
    width: 500px;
    height: 100%;
    padding: 15px 15px 0;
    border-radius: 16px;
    border: 2px solid #4E6EF2;
    box-sizing: border-box;
}
.calendar-main .calendar-header{
    position: relative;
    display: flex;
    height: 30px;
}
.calendar-main .calendar-header .selector-box {
    position: relative;
}
.calendar-main .calendar-header .selector-box .selector-list {
    max-height: 350px;
    width: 100px;
    box-sizing: border-box;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
    background: #FFFFFF;
    padding: 9px 16px;
    position: absolute;
    left: 0;
    top: 38px;
    z-index: 10;
    display: none;
    overflow: auto;
    user-select: none;
}
.calendar-main .calendar-header .selector-box.active .selector-list {
    display: block;
}
.calendar-main .calendar-header .selector-box .selector-list ul li{
    height: 27px;
    line-height: 27px;
    cursor: pointer;
}
.calendar-main .calendar-header .selector-box .selector-list ul li:hover, .calendar-main .calendar-header .selector-box .selector-list ul li.active {
    color: #315EFB;
}
.calendar-main .calendar-header .selector-box .selector{
    box-sizing: border-box;
    width: 96px;
    margin-right: 9px;
    border: 1px solid #D7D9E0;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
    background: #fff;
    user-select: none;
    padding: 0 7px;
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.calendar-main .calendar-header .selector-box .selector:hover{
    border: 1px solid #A7AAB5;
}
.calendar-main .calendar-header .selector-box .selector span:nth-child(1){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.calendar-main .calendar-header .selector-box .selector span:nth-child(2) {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #9195A3;
    border-right: 2px solid #9195A3;
    transform: rotate(-45deg);
}
.calendar-main .calendar-header .active.selector-box .selector span:nth-child(2) {
    transform: rotate(135deg);
}

.calendar-main .calendar-header .before,  .calendar-main .calendar-header .after{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.calendar-main .calendar-header .before span, .calendar-main .calendar-header .after span{
    margin-left: -5px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #9195A3;
    border-right: 2px solid #9195A3;
    transform: rotate(-135deg);
}
.calendar-main .calendar-header .after span {
    transform: rotate(45deg);
}

.calendar-main .calendar-header .back-today {
    margin-left: auto;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #F5F5F6;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
}
.calendar-main .calendar-header .back-today:hover{
    color: #315efb;
    background: #F0F0F1;
}

.calendar-main .calendar-content table{
    width: 100%;
    margin-top: 14px;
}
.calendar-main .calendar-content table th{
    font-weight: normal;
    height: 36px;
}
.calendar-main .calendar-content table td{
    text-align: center;
    width: 64px;
    height: 60px;
    padding: 2px;
}
.calendar-main .calendar-content table td .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    width: 60px;
    height: 56px;
    padding: 4px 2px 2px 2px;
    box-sizing: border-box;
    border: 2px solid transparent;
    position: relative;
}

.calendar-main .calendar-content table td .day:hover {
    border: 2px solid #BDBFC8;
}

.calendar-main .calendar-content table td .day span:nth-child(1) {
    height: 22px;
    font-size: 18px;
    color: #000;
}
.calendar-main .calendar-content table td .day span:nth-child(2) {
    color: #333;
    font-size: 12px;
}

.calendar-main .calendar-content table td:nth-child(n+6) .day span:nth-child(1) {
    color: #F73131;
}

.calendar-main .calendar-content table td .holiday {
    background: #FDE3E4;
}
.calendar-main .calendar-content table td .holiday:hover {
    border: 2px solid #F38686 !important;
}
.calendar-main .calendar-content table td .holiday::before {
    content: '休';
    position: absolute;
    left: 4px;
    top: 4px;
    color: #F73131;
    font-size: 12px;
    line-height: 12px;
}
.calendar-main .calendar-content table td .holiday span:nth-child(1) {
    color: #F73131;
}

.calendar-main .calendar-content table td .work-day {
    background: #f5f5f6;
}
.calendar-main .calendar-content table td .work-day::before {
    content: '班';
    position: absolute;
    left: 4px;
    top: 4px;
    color: #626675;
    font-size: 12px;
    line-height: 12px;
}
.calendar-main .calendar-content table td .work-day span:nth-child(1) {
    color: #000;
}

.calendar-main .calendar-content table td .active {
    border: 2px solid #BDBFC8;
}

.calendar-main .calendar-content table td .current {
    border: 2px solid #4E6EF2 !important;
}

.calendar-main .calendar-content table td .last-month, .calendar-main .calendar-content table td .next-month {
    opacity: 0.4;
}